---
---
@import "minima";
// @import "{{ site.theme }}";

.small {
  font-size: 0.85em;
  color: #666;
  line-height: 1.6;
}

.pi p {
  text-indent: 2em;
  margin-bottom: 0.2em;
}

.ps p {
  margin-bottom: 0.5em;
}

hr {
  margin: 1em 0;
  border: none;
  border-top: 1px solid #ccc;
}

/* Prevent superscripts from affecting line spacing */
sup, sub {
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
    font-size: 0.80em;
    line-height: 0;
}

